#content {

}

.article {

}

#toggle_speech {
	color: gray;
}
#toggle_speech:hover {
	color: black;
	cursor: pointer;
}

.active {
	width: 500px !important;
	position: relative;
}

.inactive {
	width: 150px;
	height: 150px;
}

.article > span {
    display: inline-block;
    padding: 10px;
    width: 220px;
}

.article > span:hover {
	border: thin solid gainsboro;
	background-color: snow;
	cursor: pointer;
}

#error {
	color: red;
}

img {
	width: 75%;
}